@font-face {
	font-family: "EuclidCircularA";
	font-display: swap;
	src:
		url("../fonts/EuclidCircularA-Bold.woff2") format("woff2"),
		url("../fonts/EuclidCircularA-Bold.ttf") format("truetype"),
		url("../fonts/EuclidCircularA-Bold.otf") format("otf"),
		url("../fonts/EuclidCircularA-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "EuclidCircularA";
	font-display: swap;
	src:
		url("../fonts/EuclidCircularA-Light.woff2") format("woff2"),
		url("../fonts/EuclidCircularA-Light.ttf") format("truetype"),
		url("../fonts/EuclidCircularA-Light.otf") format("otf"),
		url("../fonts/EuclidCircularA-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "iconFont";
	font-display: swap;
	src:
		url("../fonts/iconFont.woff2") format("woff2"),
		url("../fonts/iconFont.ttf") format("truetype"),
		url("../fonts/iconFont.otf") format("otf"),
		url("../fonts/iconFont.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
