// Основные цвета =================================================================================================================
$white: #fff;
$black: #000;
$main: #292D32;
$blue: #48A4EB;

// Шрифт по умолчанию =================================================================================================================
$fontFamily: 'Roboto', sans-serif;
$fontSize: 1.4rem; // 14(px) - размер шрифта по умолчанию из макета

//НАСТРОЙКИ =================================================================================================================
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1400px;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 15px;

// Ширина срабатывания первого брейк-поинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$laptopL: 1440px;
$laptop: 1024px;
$tablet: 896px;
$tabletS: 768px;
$mobile: 575px;
$mobileS: 375px;
