<footer class="footer">
	<div class="footer__container container">
		<div class="footer__top footer-top">
			<div class="footer-top__logo">
				<a href="#"><img src="@img/icons/header/logo-dell.svg" alt=""></a>
			</div>
			<div class="footer-top__sitemap footer-sitemap">
				<div class="footer-sitemap__item sitemap-item">
					<div class="sitemap-item__title">Каталог</div>
					<ul class="sitemap-item__list mobile-list">
						<li class="sitemap-item__link">
							<a href="#">Ноутбуки</a>
							<a href="#">Персональные компьютеры</a>
						</li>
						<li class="sitemap-item__link">
							<a href="#">Серверы</a>
							<a href="#">Dell EMC</a>
							<a href="#">Запасные части к Dell EMC</a>
						</li>
					</ul>
				</div>
				<div class="footer-sitemap__item sitemap-item">
					<div class="sitemap-item__title">Личный кабинет</div>
					<ul class="sitemap-item__list">
						<li class="sitemap-item__link"><a href="#">Профиль</a></li>
						<li class="sitemap-item__link"><a href="#">История заказов</a></li>
						<li class="sitemap-item__link"><a href="#">SMS-уведомления</a></li>
						<li class="sitemap-item__link"><a href="#">Избранное</a></li>
						<li class="sitemap-item__link"><a href="#">Сравнение товаров</a></li>
					</ul>
				</div>
				<div class="footer-sitemap__item sitemap-item">
					<div class="sitemap-item__title">Помощь</div>
					<ul class="sitemap-item__list">
						<li class="sitemap-item__link"><a href="#">Доставка и оплата</a></li>
						<li class="sitemap-item__link"><a href="#">Контакты</a></li>
						<li class="sitemap-item__link"><a href="#">FAQ</a></li>
						<li class="sitemap-item__link"><a href="#">Наш АСЦ</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer__bottom footer-bottom">
			<div class="footer-bottom__inner">
				<div class="footer-bottom__item bottom-item">
					<div class="bottom-item__title">Адрес</div>
					<div class="bottom-item__description">
						Москва, ул. 3-я Хорошевская, дом 2, строение 1
					</div>
				</div>
				<div class="footer-bottom__item bottom-item">
					<div class="bottom-item__title">Телефон</div>
					<div class="bottom-item__description">
						<a href="tel:84957370601">+7 495 737-06-01,</a>
						<a href="tel:84957370601">+7 495 737-06-01</a>
					</div>
				</div>
				<div class="footer-bottom__item bottom-item">
					<div class="bottom-item__title">E-mail</div>
					<div class="bottom-item__description">
						<a href="mailto:dell_ru@gmail.com">dell_ru@gmail.com</a>
					</div>
				</div>
				<div class="footer-bottom__item bottom-item">
					<div class="bottom-item__social social">
						<a class="social__link icons__icon-facebook" href="#"></a>
						<a class="social__link icons__icon-whatsapp" href="#"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>