<header class="header">
	<div class="header__container container">
		<div class="header__inner">
			<div class="header__left">
				<div class="header__logo">
					<a href="#"><img src="@img/icons/header/logo-dell.svg" alt=""></a>
				</div>
				<div class="header__nav" id="desktop-menu">
					<nav class="nav" id="nav">
						<ul class="nav__list">
							<li class="nav__item"><a href="#">Главная</a></li>
							<li class="nav__item"><a href="#">Каталог</a></li>
							<li class="nav__item"><a href="#">Новости</a></li>
							<li class="nav__item"><a href="#">Наш АСЦ</a></li>
							<li class="nav__item"><a href="#">Контакты</a></li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="header__right">
				<ul class="header__icons header-icons">
					<li class="header-icons__item header-search">
						<button class="header-icons__btn icons__icon-search" type="button"></button>
					</li>
					<li class="header-icons__item header-profile">
						<button class="header-profile__btn header-icons__btn icons__icon-profile"
							type="button"></button>
						<div class="header-profile__menu">
							<ul class="header-profile__list">
								<li class="header-profile__item header-item">
									<label class="header-item__name">
										<button class="header-icons__btn icons__icon-profile" type="button">
										</button>
										<span>Мария</span>
									</label>
								</li>
								<li class="header-profile__item"><a href="#">Личный кабинет</a></li>
								<li class="header-profile__item"><a href="#">История заказов</a></li>
								<li class="header-profile__item"><a href="#">Персональные предложения</a></li>
								<li class="header-profile__item"><a href="#">Выйти</a></li>
							</ul>
						</div>
					</li>
					<li class="header-icons__item header-level">
						<button class="header-icons__btn icons__icon-level" type="button"></button>
					</li>
					<li class="header-icons__item header-favorite">
						<button class="header-icons__btn icons__icon-favorite" type="button"></button>
					</li>
					<li class="header-icons__item header-bucket">
						<button class="header-icons__btn icons__icon-bucket" type="button"></button>
					</li>
					<li class="header-icons__item header-burger">
						<button class="header-icons__btn header-burger__btn" type="button"
							id="burger-btn"><span></span></button>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="header__menu mobile-menu">
		<div class="mobile-menu__inner">
			<div class="mobile-menu__container container">
				<div class="mobile-menu__wrapper" id="mobile-menu"></div>
			</div>
		</div>
		<div class="mobile-menu__overlay" id="mobile-menu-overlay"></div>
	</div>
</header>